
server:
  port: 8082

spring:
  application:
    name: Authentication-Service


  datasource:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres?sslmode=require
    username: postgres.rjlmozorrqoxmmtthboz
    password: Abhi@17112002
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false


  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

management:
  endpoints:
    web:
      exposure:
        include: "*"   # exposes all actuator endpoints (/health, /info, /metrics, /gateway, etc.)
  endpoint:
    health:
      show-details: always  # show complete health info (disk, memory, ping, Eureka)
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
