@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
width: 100%;
min-height: 100vh;
}

/* index.css or global CSS */
.input-primary {
  @apply w-full p-3 rounded-xl bg-white/10 border border-white/20 
         text-white placeholder-gray-400
         focus:outline-none focus:ring-2 focus:ring-blue-500/70 
         backdrop-blur-xl;
}


/* GLASS RING LOADER */
.loader-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-ring div {
  box-sizing: border-box;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 6px solid rgba(59,130,246,0.8);
  border-radius: 50%;
  animation: ring-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgba(59,130,246,0.8) transparent transparent transparent;
}

.loader-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes ring-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}
