server:
  port: 8081

spring:
  application:
    name: API-Gateway-Service

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

management:
  endpoints:
    web:
      exposure:
        include: "*"   # exposes all actuator endpoints (/health, /info, /metrics, /gateway, etc.)
  endpoint:
    health:
      show-details: always  # show complete health info (disk, memory, ping, Eureka)
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
